.home {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    gap: 80px;
    margin-top: 30px;

}

.home_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_steps_container {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
}

.how_it_works_title {
    font-size: x-large;
    margin-bottom: 10px;
}

.TOC_wrapper {
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    font-family: 'Mulish', sans-serif;
}

.faq_container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* width: 100vw; */
    /* flex-direction: column; */
    text-wrap: wrap;
    flex-direction: column;
}

.faq_inner_container {
    display: flex;
    /* align-items: center; */
    width: 50vw;
    padding-left: 0px;
    /* flex-direction: column; */
    text-wrap: wrap;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
}

.TOC_container {
    display: flex;
    align-items: flex-start;
    border: solid rgb(200, 200, 200);
    border-radius: 15px;
    border-width: 2px;
    width: 50%;
    margin: 70px 0 30px 0;
    padding: 25px 0;
    flex-direction: column;
    background-color: white;
}

.TOC_title_container {
    display: flex;
    align-items: flex-start;
    width: 75%;
    margin-left: 50px;
}

.TOC_title {
    align-items: flex-start;
    font-size: x-large;
}

.TOC_container>ul>li {
    color: #1c9786;
    font-size: x-large;
    cursor: pointer;
    margin-left: 150px;
}

.TOC_container>ul>li:hover {
    text-decoration: underline;
    font-weight: bold;
}

.faq_steps {
    display: inline-block;
    position: relative;
    background-size: contain;
    padding: 25px 25px 25px 0;
    color: white;
}

.faq_steps:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(-5px, 10px) rotate(45deg);
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: linear-gradient(45deg, #48d3bc, #007a68);
    border-radius: 11px;
}

.box {
    width: 30%;
    display: inline-block;
    background: #0a0a0a0a;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.box div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.scroll_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: #fff;
    padding: 16px;
    background-image: linear-gradient(45deg, #48d3bc, #007a68);
    box-shadow: 0 0 8px rgba(211, 211, 211, 0.281);
    width: 50px;
    cursor: pointer;
    height: 50px;
    display: none;
    z-index: 10000;
    /* box-shadow: inset  #1c9786;  */
    transition: color .1s ease-in-out box-shadow .2s ease-in-out;
}

.scroll_to_top:hover {
    box-shadow: inset 100px 0 0 0 #3A8686;
    color: white;
}

.protein_table {
    background: #1fa491;
    border-radius: 12px;
    padding: 0 5px 5px;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    text-align: center;
}

.protein_table>thead {
    text-align: left;
    color: #fff;
    font-size: 20px;
}

.fat_table {
    background: #1fa491;
    border-radius: 12px;
    padding: 0 5px 5px;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    text-align: center;
}
.fat_table>thead {
    text-align: left;
    color: #fff;
    font-size: 20px;
}

.carb_table {
    background: #1fa491;
    border-radius: 12px;
    padding: 0 5px 5px;
    max-width: 100%;
    border-spacing: 0;
    text-align: center;
}

.carb_table>thead {
        text-align: left;
    color: #fff;
    font-size: 20px;
}

/* .protein_table>thead>tr{
    border-radius: 5px;
} */

.faq_inner_container thead tr th {
    padding: 10px;
    text-align: center;
}

.faq_inner_container tbody tr:nth-child(odd) {
    background-color: #fff;
    font-size: 20px;
}

.faq_inner_container tbody tr:nth-child(even) {
    background-color: #f2f7fad4;
    font-size: 20px;
}

.faq_inner_container tbody td {
    padding: 10px;
    border: 0;
}

.bottom_td_right {
    border-bottom-right-radius: 12px;
}

.bottom_td_left {
    border-bottom-left-radius: 12px;
}
.TOC_btn{
    background-color: transparent;
    border-color: transparent;
    font-size: large;
    cursor: pointer;
    color: #007a68;
}

.TOC_btn:hover{
    text-decoration: underline;
    font-weight: bold;
}
