.home {
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 80px;
    margin-top: 30px;

}

.home_body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_steps_container {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
}

.how_it_works_title {
    font-size: x-large;
    margin-bottom: 10px;
}

.TOC_wrapper {
    display: flex;
    width: 73%;
    justify-content: center;
    background-color: white;
}

.TOC_container {
    display: flex;
    align-items: center;
    border: solid rgb(200, 200, 200);
    border-radius: 15px;
    border-width: 2px;
    width: 35vw;
    margin: 20px 0;
    padding: 25px 0;
    flex-direction: column;
}

.TOC_title_container {
    display: flex;
    align-items: flex-start;
    width: 75%;
}


.TOC_title {
    align-items: flex-start;
    font-size: x-large;
}

li {
    color: #1c9786;
    font-size: large;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
    font-weight: bold;
}