.meal_details_wrapper{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.table_container{
    max-height: 50vh;
    min-height: 40vh;
    overflow-y:scroll;
    width: 75%;
}
.cells{
    color: grey;
}
.meal_table_top th {
  background-color: #E2F0D9;
  color: #919191;
  font-size: large;
  font-weight:550;
  border: 1px solid #dddddd;

}

.meal_table th {
  background-color: #E2F0D9;
  color: #919191;
  font-size: large;
  font-weight:550;
  border: 1px solid #dddddd;

}
.filter_details_container{
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.meal_table tr:hover td {
    border-top: 2px dotted #1c9786;
    border-bottom: 2px dotted #1c9786;
  }

  .details_recipe_name{
    background-color: grey;
  }

  .details_recipe_name:hover{
    background-color: grey;
  }

  .meal_td:hover{
    background-color: #f0f0f0;
  }
  
  .meal_table_top{
    width: 50%;
  }