.recipe_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card_container{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 30px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 4px;
    transition: all .3s ease-in-out;
    position: relative; 
    z-index: 2;
}

.card_container:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
    z-index: 2;
}
.image_container{
    height: 180px;
    width: 300px;
    overflow: hidden;
    position: relative; 
    z-index: 2;  
}

.image {
    /* height: 100%;
    width: 100%; */
    height: 175px;
    width: 345px;
    object-fit: cover;
    clip-path: square(90%); 
    z-index: 1;
  }
  .recipe_name_type_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
    
  }
  .recipe_name{
     font-size: large;
     color: rgb(68, 68, 68);
  }
  .recipe_meal{
     margin: 5px 0;
     font-size: medium;
     color: grey;

  }
  
.recipe_card_btn{
    background-color: #578A8B;
    border: none;
    padding: 6px 10px;
    color: white;
}

.macros_container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 10px 0;
}

.mac_container{
    border: solid 1px black;
    width: 60px;
    font-size: small;
}

.macro_data{
    padding: 3px;
}
.macro_title{
    border-bottom: solid 1px black;
    color: white;
    padding: 5px;
}

#macro_title_calories{
    background-color: #4472C5
}

#macro_title_fat{
    background-color: #A4BE83
}

#macro_title_carbs{
    background-color: rgb(58, 134, 134)
}

#macro_title_protein{
    background-color: #C00001
}

/* Type Filters */

.filter_radio_btns_container{
    display: flex;
}
.filter_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter_container label{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  border: #dcdbdb;
  transition: all 0.3s;
  background-color: #dbdbdb;
  color: rgb(138, 137, 137);
  border-radius: 6px;
  min-width: 100px;
  width: fit-content;
  cursor: pointer;
  font-size: large;
  font-weight: bolder;
  margin-right: 10px;
}
.filter_container label:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    transition: all 0.3s;
    border: #1c9786;
    background-color: #1c9786;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    min-width: 100px;
    width: fit-content;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    margin-right: 10px;
  }

.filter_container input[type="radio"]{
    display: none;
    cursor: pointer;
}

.filter_container input[type="radio"]:checked + label{
    border: #1c9786;
    background-color: #1c9786;
    color: white;
    cursor: pointer;
}
.filter_container input[type="radio"]:checked + label:hover{
    border: #3A8686;
    background-color: #3A8686;
    color: white;
    cursor: pointer;
}
.user_filter_input{
}
.user_filter_label:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    transition: all 0.3s;
    border: #1c9786;
    background-color: #1c9786;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    min-width: 100px;
    width: fit-content;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    margin-right: 10px;
}

.user_filter_label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    border: #dcdbdb;
    transition: all 0.3s;
    background-color: #dbdbdb;
    color: rgb(138, 137, 137);
    border-radius: 6px;
    min-width: 100px;
    width: fit-content;
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    margin-right: 10px;
}

.filter_btn{
    border: none;
    border-radius: 30px;
    padding: 10px;
    background-color: #1c9786;
    cursor: pointer;
}

.filter_btn:hover{
    border: none;
    border-radius: 22px;
    padding: 10px;
    background-color: grey;
    cursor: pointer;
}

.search_container_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 9px;
    width: 22vw;
    color: white;
  }
  
  .search_input {
    font-size: large;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .search_icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 15px;
    background-color: transparent;
    border: none;
    font-size: large;
}
  
#sort_label{
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.filters_wrapper{
    display: flex;
    align-items: center;
    height: 25px;
    margin-top: 20px;
    justify-content: center;
    justify-content: space-evenly;
}

.addnew_btn{
    background-color: #1DA491;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    box-shadow: inset  #1c9786; 
    transition: color .1s ease-in-out, box-shadow .2s ease-in-out;
}

.addnew_btn:hover{
    box-shadow: inset 200px 0 0 0 #3A8686;
    color: white;
}
.recipes_title_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.recipes_title{
    font-family: 'Yellowtail', cursive;
    font-size: 90px;
    color: #1c9786;
    width: 80vw;
    margin: -40px 0;
}

/* Modal */
/* .modal {
    display: none;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
} */

.modal_content {
    flex-direction: column;
}

/* Modal Header */
#detail_modal{
    background-color: #dcdbdb ;

}
#model_header_outer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5px;
}

.meal_title_modal {
    font-family: 'Manrope', sans-serif;
    font-size: x-large;
    color: rgb(80, 80, 80);
    margin: 5px 5px;
    /* max-width: 300px; */
    font-weight: bolder;
}



/* Modal Middle Section */
#modal_middle_container {
    display: flex;
    justify-content: space-around;
    
}

#modal_middle_left_container {
    display: flex;
    background-color: white;
    flex-direction: column;
    max-width: 60%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    padding: 15px 15px;
}
.recipe_detail_image{
    height: 200px;
    width: 355px;
}

.kcal_container_modal {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding-top: 10px;
}

.kcal_data{
    margin-left: 2px;
    font-family: 'Mulish', sans-serif;
}



/* Modal Middle Right */
#modal_middle_right_container {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}
#mmr_heading_container{
    display: flex;
    justify-content: center;
}
#nutrients_container{
  font-family: 'Mulish', sans-serif;
  margin-top: -40px;
}

.nutrients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.recipe_details_r_title{
    font-family: 'Manrope', sans-serif;
    color: #1c9786;
    margin-top: 18px;
    /* height: 10%; */
}

#modal_bottom_container{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.modal_ingredients{
    font-family: 'Mulish', sans-serif;
    
}

.modal_title{
    font-family: 'Mulish', sans-serif;
    color: #1c9786;
    font-size: large;
    font-weight: 600;
    padding-bottom: 5px;
}









/* RECIPE FORM */
.newRecipe_container {
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    min-height: 61.8vh;
    color: #1DA491;
}

.newRecipe_title {
    font-size: 28px;
    color: #3A8686;
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    
}

.save_btn {
    background-color: #1DA491;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    height: 30px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: inset  #1c9786; 
    transition: color .1s ease-in-out, box-shadow .2s ease-in-out;
    margin-bottom: 10px;
}

.save_btn:hover{
    box-shadow: inset 200px 0 0 0 #3A8686;
      color: white;
}

textarea {
    max-height: 75px;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    color: grey;
}

.add_btn {
    background-color: #1DA491;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    height: 30px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: inset  #1c9786; 
    transition: color .1s ease-in-out, box-shadow .2s ease-in-out;
}
.add_btn:hover{
    box-shadow: inset 200px 0 0 0 #3A8686;
    color: white;
}

.add_recipe_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.add_recipe_container input{
        outline: rgb(220, 218, 218);   
}

.add_recipe_container input:focus{
    outline: none;
}

.add_recipe_container textarea{
    outline: rgb(220, 218, 218);   
}

.add_recipe_container textarea:focus{
outline: none;
}

.ind_radio_btn_container {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 3px;
    accent-color: #1c9786;
}

.radio_btns_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.ind_radio_btn_container>input {
    width: 29px;
    border: 3px;
    height: 50px;
    accent-color: #1c9786;
    cursor: pointer;
}

.name_image_container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}
.name_image_container>input{
    width: 45%;
}

.type_container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 5px;
}

.type_container>input {
    width: 30%;
}


.ing_quant_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
}

.ing_quant_container_left {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 8px;
}

.ing_quant_container_right {
    width: 45%;
    font-size: 12px;
}

form input:focus {
    border: 1px solid #3A8686;
}

input::placeholder {
    font-size: larger;
    color: #1c9786;
}

textarea::placeholder {
    font-size: larger;
    color: #1c9786;
}

.inputs {
    border: 1px solid rgb(164, 162, 162);
    border-radius: 6px;
    height: 35px;
    padding: 5px;
}


.close_button {
    position: absolute;
    margin-left: 250px;
    margin-top: -48px;
    font-size: 25px;
    padding: 5px;
    background: none;
    border: solid rgb(179, 0, 0);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 4px;
    transition: all .3s ease-in-out;
    z-index: 3;
}

.close_button:hover,
.close_button:focus {
    cursor: pointer;
    box-shadow: rgba(179, 0, 0, 1) 0px 5px 13px;
    transform: translate3d(0px, -1px, 0px);
    z-index: 3;
}

  
  