table {
    border-collapse: collapse;
    width: 83%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 8px 4px;
    background-color: white;
    text-align: center;
    color: grey;
}

.cells{
    color: grey;
}
.cells:hover {
    background-color: #f0f0f0;
  }
  
  .meal_table tr:hover td {
    border-top: 2px dotted #1c9786;
    border-bottom: 2px dotted #1c9786;
  }

  .meal_td_day_sticky{
    background-color: #3A8686;
    color: white;
    /* display: flex;
    justify-content: center; */
    border: 1px solid #3A8686;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 8px 4px;
    position: sticky;
    top: 0;
  }

  .meal_td_header_sticky{
    background-color: #E2F0D9;
    color: #919191;
    font-size: large;
    font-weight:550;
    position: sticky;
    top: 0;
  }

.meal_td_day{
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    background-color: #3A8686;
    color: white;
    /* display: flex;
    justify-content: center; */
    border: 1px solid #3A8686;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 8px 4px;
}
.meal_td{
    display: flex;
    justify-content: center;
    background-color:#F2F7FA;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 8px 4px;
    font-weight: bold;
    color: #3A8686;
    border: 1px solid #3A8686;
}

#blank_th{
    background-color: transparent;
    border: none;
}

th {
    background-color: #E2F0D9;
    color: #919191;
    font-size: large;
    font-weight:550;

}
.meal_planner_container{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.meal_planner_title_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}

.meal_planner_title{
    font-family: 'Yellowtail', cursive;
    font-size: 90px;
    color: #1c9786;
    width: 80vw;
    margin: -40px 0;
}

.macro_header{
    background-color: #E2F0D9;
    color: #919191;
    font-size: large;
    font-weight:550;
}

.meal_details_wrapper{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.table_container{
    max-height: 50vh;
    overflow-y:scroll;
    width: 75%;
}

